<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059038117375-k78mghjm4vo6eism4qadgvc06dbc5rop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059038117375-k78mghjm4vo6eism4qadgvc06dbc5rop</string>
	<key>API_KEY</key>
	<string>AIzaSyA9AIPVBaGEQNN-dHBr56RtJ6L2-rIpbe0</string>
	<key>GCM_SENDER_ID</key>
	<string>1059038117375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahman.social</string>
	<key>PROJECT_ID</key>
	<string>social-ee649</string>
	<key>STORAGE_BUCKET</key>
	<string>social-ee649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059038117375:ios:895bdd4cfb4e40982c3bca</string>
</dict>
</plist>